.p-20
  h1.font-montserrat.tracking-wider.text-black.mt-10.mb-10.font-medium.text-4xl.shadow-glow(class='sm:text-5xl') About Example Co.
  .border-l.border-solid.border-black.pl-4(class='max-w-1/2')
    p.font-light.text-gray-400.font-montserrat.text-base(class='tracking-[0.056rem]')
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit facilis tempora, eum deleniti labore corporis molestiae esse obcaecati doloremque nemo atque culpa cumque deserunt eos repudiandae! Sequi, dicta facere. Libero.
    p.font-light.text-gray-400.font-montserrat.text-base.mt-5(class='tracking-[0.056rem]')
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dolores eos labore veritatis culpa eaque sequi quasi voluptatibus nihil saepe voluptates vero, perferendis, itaque quis, alias deserunt molestias? Sed, ipsum?
    p.font-light.text-gray-400.font-montserrat.text-base.mt-5(class='tracking-[0.056rem]')
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus ab nihil excepturi facere nesciunt inventore adipisci culpa deleniti aliquid dolorem, vitae quas aliquam harum labore optio error est consectetur.
  .relative.flex.w-full.flex-row.justify-center.overflow-hidden.p-8
    .relative.inline.w-full.max-w-inner.py-6.h-fit(class='lg:py-16 md:py-14 sm:py-12 xs:py-10')
      .grid.grid-cols-1.gap-20(class='sm:grid-cols-2 lg:grid-cols-3')
        .flex.flex-col.items-center.group
          .relative.overflow-hidden.mb-5.rounded-2xl(class='w-[300px] h-[300px]')
            img.grayscale.object-cover(alt='' loading='lazy' decoding='async' data-nimg='fill' sizes='100vw' src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;')
        .flex.flex-col.items-center.group
          .relative.overflow-hidden.mb-5.rounded-2xl(class='w-[300px] h-[300px]')
            img.grayscale.object-cover(alt='' loading='lazy' decoding='async' data-nimg='fill' sizes='100vw' src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;')
        .flex.flex-col.items-center.group
          .relative.overflow-hidden.mb-5.rounded-2xl(class='w-[300px] h-[300px]')
            img.grayscale.object-cover(alt='' loading='lazy' decoding='async' data-nimg='fill' sizes='100vw' src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;')