style.
  .bubble-animation circle {
    animation: bubble 4s linear infinite;
    opacity: 0.025;
  }

  @keyframes bubble {
    0% {
      transform: translateY(0);
      r: 50;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      r: 0;
    }
  }



div.p-12
  p.font-bold.text-2xl.text-left.mt-4
    | This application uses HTML forms and an external API to send messages through a courier service.
    | as a demonstration of how to use HTMX with Firebase Cloud Functions using base64 encoded images
    | that are pulled from a hidden file system and streamed via hx-get requests.
    | Bubbles are animated using CSS keyframes and SVG circles while using Pug for templating.
div

svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 800 600', class='bubble-animation')
  circle(cx='200', cy='500', r='50', fill='#87ceeb')
  circle(cx='400', cy='500', r='50', fill='#87ceeb', style='animation-delay: 1s;')
  circle(cx='600', cy='500', r='50', fill='#87ceeb', style='animation-delay: 2s;')