header.bg-gray-800.py-4
  nav.container.mx-auto.flex.items-center.justify-between.px-4
    a.text-white.font-bold.text-xl(href='#') Logo
    div
      //- a.text-gray-300.px-3.py-2(href='#' class='hover:text-white') Home
      //- a.text-gray-300.px-3.py-2(href='#' class='hover:text-white') About
      //- a.text-gray-300.px-3.py-2(href='#' class='hover:text-white') Contact
main.container.mx-auto.mt-8
  .flex.justify-center
    .w-1/2
      .bg-white.rounded-lg.shadow-lg.p-8
        h2.text-2xl.font-bold.mb-4 Search
        form
          input.border.border-gray-300.rounded-lg.px-4.py-2.w-full.mb-4(type='text' placeholder='Search...')
          button.bg-blue-500.text-white.px-4.py-2.rounded-lg(type='submit') Search
    .ml-4(class='w-1/2')
      .bg-gradient-to-r.from-purple-500.to-blue-500.text-white.rounded-lg.shadow-lg.p-8
        h2.text-2xl.font-bold.mb-4 Side Panel
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ac tincidunt tincidunt, nunc mauris
